# Practica en la realizacion de las funciones de la api

importaciones

In [1]:
import pandas as pd

## Funcion PlayTimeGenre

In [3]:
df_PlayTimeGenre = pd.read_parquet("data/play_time_genres.parquet")
df_PlayTimeGenre.columns

Index(['genres', 'year', 'playtime_forever'], dtype='object')

In [6]:
def PlayTimeGenre( genero : str ):
    """
    Funcion que devuelve el año con mas horas jugadas para dicho género.
    """
    generos = df_PlayTimeGenre[df_PlayTimeGenre["genres"] == genero] 
    if generos.empty: 
        return f"No se encontraron datos para el género {genero}"
    año_max = generos.loc[generos["playtime_forever"].idxmax()]
    result = {
        'Genero': genero,
        'Año con Más Horas Jugadas': int(año_max["year"]),
        'Total de Horas Jugadas': año_max["playtime_forever"]
    }

    return result

In [7]:
PlayTimeGenre("Action")

{'Genero': 'Action',
 'Año con Más Horas Jugadas': 2012,
 'Total de Horas Jugadas': 18096708.533333335}

## Funcion UserForGenre

In [9]:
df_UserForGenre = pd.read_parquet("data/user_for_genre_part_1.parquet")
df_UserForGenre.columns

Index(['genres', 'user_id', 'playtime_forever'], dtype='object')

In [48]:
def UserForGenre(genero: str):
    """
    Función que devuelve el usuario que acumula más horas jugadas para el género dado 
    y el total de horas jugadas para ese género.
    """
    # Filtrar el DataFrame por el género dado
    generos2 = df_UserForGenre[df_UserForGenre["genres"] == genero]
    
    # Obtener el usuario con más horas jugadas para ese género
    user_max = generos2.loc[generos2["playtime_forever"].idxmax()]["user_id"]
    
    # Calcular el total de horas jugadas para ese género
    horas_total = generos2["playtime_forever"].sum()

    # Crear el diccionario de resultados
    result = {
        "Genero": genero,
        "Usuario con Más Horas Jugadas": user_max,
        "Total de Horas Jugadas": horas_total
    }
    
    return result

In [49]:
UserForGenre("Action")

{'Genero': 'Action',
 'Usuario con Más Horas Jugadas': 'Sp3ctre',
 'Total de Horas Jugadas': 29704.216666666667}

In [50]:
df_UserForGenre2 = pd.read_parquet("data/user_for_genre_part_2.parquet")
df_UserForGenre2.columns

Index(['genres', 'playtime_forever', 'ranking'], dtype='object')

In [61]:
def UserForGenre2(genero: str):
    """
    Función que devuelve un DataFrame filtrado por el género dado y las horas jugadas por año para ese género.
    """
    # Filtrar el DataFrame por el género dado
    generos3 = df_UserForGenre2[df_UserForGenre2["genres"] == genero]
   
    # Calcular las horas jugadas por año para ese género
    horas_x_año3 = generos3["playtime_forever"].sum()
    
    # Crear el DataFrame con los datos filtrados y las horas jugadas por año
    df_result = pd.DataFrame({
        "Genero": [genero],
        "Total de Horas Jugadas hasta ahora": [horas_x_año3]
    })

    return df_result

In [62]:
UserForGenre2("Adventure")

      Genero  Total de Horas Jugadas hasta ahora
0  Adventure                        1.680433e+07

## Funcion UsersRecommend

In [63]:
df_UsersRecommend = pd.read_parquet("data/UsersRecommend.parquet")
df_UsersRecommend

               anio   id_game                          app_name  \
anio
2010.0 3     2010.0     440.0                   Team Fortress 2
       8     2010.0    4000.0                       Garry's Mod
       6     2010.0    1250.0                     Killing Floor
2011.0 100   2011.0  105600.0                          Terraria
       23    2011.0     440.0                   Team Fortress 2
       27    2011.0     620.0                          Portal 2
2012.0 112   2012.0     440.0                   Team Fortress 2
       198   2012.0  105600.0                          Terraria
       115   2012.0     570.0                            Dota 2
2013.0 253   2013.0     570.0                            Dota 2
       250   2013.0     440.0                   Team Fortress 2
       267   2013.0    4000.0                       Garry's Mod
2014.0 613   2014.0     570.0                            Dota 2
       1309  2014.0  304930.0                          Unturned
       1145  2014.0  252490.0                              Rust
2015.0 1376  2015.0     730.0  Counter-Strike: Global Offensive
       1373  2015.0     570.0                            Dota 2
       1635  2015.0  218620.0                          PAYDAY 2

             num_reviews_positivas
anio
2010.0 3                         5
       8                         4
       6                         3
2011.0 100                      36
       23                       35
       27                       30
2012.0 112                     112
       198                      72
       115                      60
2013.0 253                     388
       250                     332
       267                     230
2014.0 613                     912
       1309                    656
       1145                    585
2015.0 1376                    466
       1373                    348
       1635                    324

In [87]:
def UsersRecommend( año : int ):
    """
    Funcion que devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado.
    """
    df_año= df_UsersRecommend[df_UsersRecommend["anio"]== año]
    if type(año) != int:
        return {"Debes colocar el año en entero, Ejemplo:2012"}
    if año < df_UsersRecommend["anio"].min() or año > df_UsersRecommend["anio"].max():
        return {"Año no encontrado"}
    df_ordenado_recomendacion = df_año.sort_values(by="num_reviews_positivas", ascending=False)
    top_3_juegos = df_ordenado_recomendacion.head(3)[["app_name","num_reviews_positivas"]]
    result3 ={
        "Año": año,
        "Top 3 Juegos Más Recomendados": top_3_juegos.to_dict(orient='records')
    }
    return result3

In [88]:
UsersRecommend(2015)

{'Año': 2015,
 'Top 3 Juegos Más Recomendados': [{'app_name': 'Counter-Strike: Global Offensive',
   'num_reviews_positivas': 466},
  {'app_name': 'Dota 2', 'num_reviews_positivas': 348},
  {'app_name': 'PAYDAY 2', 'num_reviews_positivas': 324}]}

## Funcion UsersWorstDeveloper

In [89]:
df_UsersWorstDeveloper = pd.read_parquet("data/UsersWorstDeveloper.parquet")
df_UsersWorstDeveloper

              anio              developer  num_reviews_negativas
anio
2011.0 1    2011.0           Broken Rules                      2
       0    2011.0             1C Company                      1
       2    2011.0                  Valve                      1
2012.0 3    2012.0                  Valve                      1
       4    2012.0               Volition                      1
2013.0 48   2013.0    Valor no disponible                     11
       39   2013.0  Phosphor Games Studio                     10
       25   2013.0      Facepunch Studios                      7
2014.0 231  2014.0    Valor no disponible                     90
       219  2014.0   Trek Industries, Inc                     56
       62   2014.0    Bohemia Interactive                     50
2015.0 436  2015.0    Valor no disponible                    121
       303  2015.0      Facepunch Studios                     89
       259  2015.0    Bohemia Interactive                     60

In [91]:
def UsersWorstDeveloper( año : int ):
    """
    Funcion que devuelve el top 3 de desarrolladoras con juegos MENOS 
    recomendados por usuarios para el año dado.
    """
    df_año2 = df_UsersWorstDeveloper[df_UsersWorstDeveloper["anio"]== año]
    if type(año) != int:
        return {"Debes colocar el año en entero, Ejemplo:2012"}
    if año < df_UsersRecommend["anio"].min() or año > df_UsersRecommend["anio"].max():
        return {"Año no encontrado "}
    df_ordenado_recomendacion2 = df_año2.sort_values(by="num_reviews_negativas", ascending=False)
    top_3_developers = df_ordenado_recomendacion2[["developer","num_reviews_negativas"]]
    result4 = {
        'Año': año,
        'Top 3 Desarrolladoras Menos Recomendadas': top_3_developers.to_dict(orient="records")
    }
    return result4

In [92]:
UsersWorstDeveloper(2015)

{'Año': 2015,
 'Top 3 Desarrolladoras Menos Recomendadas': [{'developer': 'Valor no disponible',
   'num_reviews_negativas': 121},
  {'developer': 'Facepunch Studios', 'num_reviews_negativas': 89},
  {'developer': 'Bohemia Interactive', 'num_reviews_negativas': 60}]}

## Funciones sentiment_analysis

In [100]:
df_Sentiment_Analysis = pd.read_parquet("data/sentiment_analysis.parquet")
df_Sentiment_Analysis

,developer,cant_sentiment_negative,cant_sentiment_neutral,cant_sentiment_positive
0,07th Expansion,0,3,0
1,"10th Art Studio,Adventure Productions",0,2,0
2,10tons Ltd,0,3,0
3,11 bit studios,27,135,21
4,14° East,1,1,0
...,...,...,...,...
2085,xXarabongXx,0,3,0
2086,△○□× (Miwashiba),0,6,4
2087,"インレ,Inre",0,4,1
2088,橘子班,3,6,3
2089,"高考恋爱委员会,橘子班",0,8,0

In [101]:
def sentiment_analysis( desarrollador : str ):
    """
    Funcion que devuelve un diccionario con el nombre de la desarrolladora como llave y una lista 
    con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con 
    un análisis de sentimiento como valor.
    """
    if type(desarrollador) != str:
        return "Debes colocar un developer de tipo str, EJ:'07th Expansion'"
    if len(desarrollador) == 0:
        return "Debes colocar un developer en tipo String"
    
    # Filtrar el DataFrame por el desarrollador dado
    df_desarrollador = df_Sentiment_Analysis[df_Sentiment_Analysis["developer"] == desarrollador]
    
    # Sumar el número total de reseñas negativas, neutrales y positivas
    reseñas_negativas = df_desarrollador["cant_sentiment_negative"].sum()
    reseñas_neutrales = df_desarrollador["cant_sentiment_neutral"].sum()
    reseñas_positivas = df_desarrollador["cant_sentiment_positive"].sum()

    # Crear el diccionario de resultados
    resultados = {
        "El desarrollador: ": desarrollador,
        "tiene de reseñas Negativas": reseñas_negativas,
        "tiene de reseñas Neutrales": reseñas_neutrales,
        "tiene de reseñas Positivas": reseñas_positivas
    }
    
    return resultados

In [102]:
print(df_Sentiment_Analysis.columns)

Index(['developer', 'cant_sentiment_negative', 'cant_sentiment_neutral',
       'cant_sentiment_positive'],
      dtype='object')

In [103]:
sentiment_analysis("Valve")

{'El desarrollador: ': 'Valve',
 'tiene de reseñas Negativas': 731,
 'tiene de reseñas Neutrales': 5712,
 'tiene de reseñas Positivas': 3373}